 :root {
    --darkbackground: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --logo-text: #F9FAF8;
    --button: #3882F6;
    --info-header: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;
 }

 * {
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
 }

 body {
   max-width: 1500px;
   margin: auto;
   z-index: -1;
   /*background-color: black;*/
 }
 /* header */
 nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1rem 11rem;
   background-color: var(--info-header);
 }

 .logo {
   color: var(--logo-text);
   font-weight: bold;
   font-size: 24px;
 }

 ul {
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   gap: 15px;
   text-decoration: none;
   list-style-type: none;
   color: var(--secondary-text);
   font-size: 18px; 
 }

 a {
   text-decoration: none !important;
   color: var(--secondary-text)
 }

 /* /header */
/* "awesome" */

.awesome {
   display: flex;
   padding: 5rem 11rem;
   flex: 1;
   background-color: var(--darkbackground);
   gap: 3rem;
   height: 300px;
}

.awesome-left {
   display: flex; 
   flex-direction: column;
   justify-content: space-evenly;
}

.placeholder {
   width: 600px;
}

.hero-main {
   font-size: 48px;
   color: var(--main-text);
   font-weight: bolder;
}

.hero-secondary {
   font-size: 18px;
   color: var(--secondary-text)
}

.button-action {
   width: 120px;
   height: 35px;
   border-radius: 8px;
   background-color: var(--button);
   color: var(--main-text);
   box-shadow: 1px;
   margin: 1rem 0;
   font-weight: bold;
   font-size: 16px;
}
/* /"awesome" */

/* "info" */
.info {
   background-color: var(--main-text);
   padding: 1em 1rem 8rem;
}

.random {
   text-align: center;
   padding: 2.5rem;
   font-size: 36px;
   font-weight: bolder
}

#wrapper {
   display: flex;
   flex: 1;
   justify-content: center;
   gap: 3rem;
 }

 .subwrapper {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: top;
   text-align: center;
 }

 .square {
   width: 150px;
   height: 150px;
   background-color: var(--main-text);
   border-radius: 15px;
   border: 5px solid #3882F6;
   margin: .5rem;
   padding: .2rem;
   align-items: center;
 }

 .text {
   width: 160px;
   color: #374962
 }

/* /"info" */

/* "quote" */
.quote {
   background-color: var(--quote-bg)
}

.quote-centering {
   padding: 7rem 18rem;
}

.quote-text {
   font-size: 36px;
   color: #374962;
   font-weight: 100;
} 

.quote-attribution {
   font-weight: bold;
   color: black;
   text-align: right;
   font-size: 28px;
   padding: 1rem;
}
/* /"quote" */

/* "call" */

.blue-box {
   background-color: var(--button);
   display: flex;
   justify-content: space-between;
   margin: 8rem 10rem;
   padding: 3rem 8rem;
   border-radius: 12px;
}

.call-text {
   color: var(--main-text);
   font-size: 24px; 
   font-weight: bold;
}
.call-text2 {
   color: var(--secondary-text);
   font-size: 18px; 
}

.white{
   border: 2px solid white;
}
/* /"call" */

/* "footer" */

footer {
   background-color: var(--darkbackground);
}

.footer {
   color: var(--secondary-text);
   text-align: center;
   padding: 2.5rem 5rem;
}

/* /"footer" */