 :root {
    --darkbackground: #1F2937;
    --main-text: #F9FAF8;
    --secondary-text: #E5E7EB;
    --logo-text: #F9FAF8;
    --button: #3882F6;
    --info-header: #1F2937;
    --quote-bg: #E5E7EB;
    --quote-text: #1F2937;

 }